version: "3.9"

services:

  storybook:
    build:
      context: .
      dockerfile: ./docker/dev/Dockerfile

    command: npm run storybook -- --no-open

    volumes:
      - .:/app

    ports:
      - "6006:6006"

    environment:
      NODE_ENV: development
